{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": "current",
        "ie": 11
      },
      "useBuiltIns": "usage"
    }],
    "@babel/preset-react"
  ],
  "plugins": [
    "styled-jsx/babel", 
    "@babel/plugin-syntax-dynamic-import",
  ]
}